body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  padding: 20px;
}

.tabs-container{
  display: flex;
  justify-content: center;
  margin: 20px;
  gap:15px;
  display: flex;
  margin-bottom: 20;
  overflow-x: auto;
  padding-bottom: 10px
}
.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 90%;
}
.buttons-container button{
display: flex;
justify-content: center;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.routine-name {
  text-align: center;
  color: #38bdf8;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
} */
 
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
  align-items: start; /* 👈 clave */
}

.cardDashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #181e2e;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(17, 16, 7, 0.3);
  transition: 0.2s;
}
.cardDashboard span{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background: #23305557;
  font-size: small;
  color: #e2e1d3
}
.cardDashboard:hover {
  transform: scale(1.03);
}

.cardDashboard h3 {
  margin-bottom: 10px;
}

.cardDashboard button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #0baa70;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  width: 80%;
  box-shadow: 0 4px 12px rgba(34, 197, 94, 0.2);
}

.cardDashboard   button:hover {
  transform: translateY(-2px) scale(1.03);
}
select, button {
  margin: 5px;
  padding: 8px;
}
.btn-rec {
  border: none;
  padding: 1px 1px;
  border-radius: 999px; /* estilo iOS */
  font-weight: 400;
  cursor: pointer;
  transition: all 0.25s ease;
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

/* estado ver */
.btn-rec.show {
  background: linear-gradient(135deg, #1d7499);
  box-shadow: 0 4px 12px rgba(34, 197, 94, 0.2);
}

/* estado ocultar */
.btn-rec.hide {
  background: linear-gradient(135deg, #8b1f4a);
  box-shadow: 0 4px 12px rgba(51, 10, 10, 0.536);
}

/* hover */
.btn-rec:hover {
  transform: translateY(-2px) scale(1.03);
}

/* click (efecto iOS) */
.btn-rec:active {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.btn-eliminar {
  border: none;
  padding: 15px 15px;
  border-radius: 999px; /* estilo iOS */
  font-weight: 400;
  cursor: pointer;
  transition: all 0.25s ease;
  color: white;
  display: inline-flex;
  align-items: center;
}

/* estado ver */
.btn-eliminar.show {
  display: none;
  background: linear-gradient(135deg, #38bdf8);
  box-shadow: 0 4px 12px rgba(34, 197, 94, 0.3);
}

/* estado ocultar */
.btn-eliminar.hide {
  background: linear-gradient(135deg, #ef4444, #dc2626);
  box-shadow: 0 4px 12px rgba(239, 68, 68, 0.3);
}

/* hover */
.btn-eliminar:hover {
  transform: translateY(-2px) scale(1.03);
}

/* click (efecto iOS) */
.btn-eliminar:active {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* nuevo*/

.days-container-dashboard  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  
}

.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0f172a;
  padding-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #515a68;
  width: 90%;
  margin-bottom: 20px;
}

.day-card h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}
.swal-small-title {
  font-size: 14px !important;
}
.exercise-img{
   width: 100%;
  height: 150px;
  object-fit: cover; /* Evita que la imagen se deforme */
  border-radius: 8px;
  margin-bottom: 10px;
}

.exercise-thumb {

  width: 120px;

  height: 90px;

  object-fit: cover;

  border-radius: 10px;

  cursor: pointer;

  transition: .2s;
}

.exercise-thumb:hover {

  transform: scale(1.05);
}
.gif-modal {

  background: #0f172a;

  padding: 20px;

  border-radius: 15px;

  max-width: 600px;

  text-align: center;
}

.gif-modal img {

  width: 100%;

  border-radius: 10px;
}
.gif-overlay {

  position: fixed;

  inset: 0;

  background: rgba(0,0,0,.85);

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 99999;

  /* Estado inicial oculto */
  opacity: 0;
  pointer-events: none;
  /* Transición lenta para el desvanecido de fondo */
  transition: opacity 0.7s ease-in-out; 
   
}
.gif-modal {

  position: relative;

  width: 90%;

  max-width: 700px;

  background: #0f172a;

  border-radius: 16px;

  padding: 20px;

  text-align: center;

  box-shadow: 0 0 30px rgba(0,0,0,.5);

   /* Estado inicial del zoom out */
  transform: scale(0.7); 
  /* Transición lenta para el efecto zoom */
  transition: transform 0.6s ease-out; 
 
}

/* El fondo negro se desvanece suavemente a visible */
.gif-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

/* El modal interno escala de 0.7 a 1 lentamente al mismo tiempo */
.gif-overlay.show .gif-modal {
  transform: scale(1);
}


.gif-modal img {

  width: 100%;

  max-height: 70vh;

  object-fit: contain;

  border-radius: 10px;
}

.gif-close {

  position: absolute;

  top: 10px;

  right: 10px;

  width: 40px;

  height: 40px;

  border: none;

  border-radius: 50%;

  cursor: pointer;

  font-size: 20px;

  /* TRUCO: La X solo se vuelve visible cuando el modal tiene la clase .show */

  opacity: 0;
  pointer-events: auto;

  
}
.dayTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%;  
  position: -webkit-sticky; /* Soporte para navegadores Safari antiguos */
  position: sticky;         /* Vuelve el elemento "pegajoso" */
  top: 0;                   /* Define la distancia exacta donde se detendrá arriba */
  background-color:#0f172a;   /* Importante: evita que el texto de abajo se traslape de forma transparente */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  z-index: 100;     
  /* 2. Vinculamos el cambio al movimiento del scroll */
  animation: volverTransparente linear both;
  animation-timeline: scroll(root); /* Detecta el scroll de la página completa */
  animation-range: 0px 150px;       /* El cambio ocurre en los primeros 150px de scroll */
}
/* 3. Definimos los estados de la animación */
@keyframes volverTransparente {
  from {
    background-color: #0f172a; /* Sólido al inicio */
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    background-color: #0f172aa8 ; /* Transparente al bajar */
    backdrop-filter: blur(5px); /* Opcional: efecto borroso tipo iPhone */
     /* Nueva sombra suave abajo del título cuando se scrolea */
     box-shadow: 0 6px 8px -4px rgba(90, 90, 90, 0.267);
  }
}
@media (max-width: 768px) {

  .menu-admin-btn {

    display: block;

    position: fixed;

    top: 15px;
    right: 15px;

    z-index: 2000;

    background: #0f172a;

    color: white;

    border: none;

    padding: 10px 14px;

    border-radius: 10px;
  }

  .sidebarAdmin {

    position: fixed;

    top: 0;
    right: -250px;

    width: 220px;

    height: 100dvh;

    background: #020617;

    transition: right 0.3s ease;

    z-index: 1500;

    padding: 20px;

    display: flex;

    flex-direction: column;

    gap: 10px;
  }
  .tabs-container{
  justify-content: start;
  }
  .content .content-rutinas .days-container-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
  }

  .content-progreso {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
  }   

  .day-card {
    width: 100%;
  }
  
  .cardDashboard{
    width: 100%;
  } 

  .cardDashboard h3 {
    font-size: 1.5rem;
    font-style: italic;
    color: wheat;
  }
  
  .cardAdmin{
    width: 95%;
  }
  .grid{
    width: 100%;
  }
  
}