body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.routine-name {
  text-align: center;
  color: #38bdf8;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
} */
 
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
  align-items: start; /* 👈 clave */
}

.card {
  background: #213323;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(17, 16, 7, 0.3);
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card h3 {
  margin-bottom: 10px;
}

.card button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #38bdf8;
  color: rgb(156, 9, 9);
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.card button:hover {
  background: #0ea5e9;
}
select, button {
  margin: 5px;
  padding: 8px;
}
.btn-rec {
  border: none;
  padding: 10px 16px;
  border-radius: 999px; /* estilo iOS */
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

/* estado ver */
.btn-rec.show {
  background: linear-gradient(135deg, #38bdf8);
  box-shadow: 0 4px 12px rgba(34, 197, 94, 0.3);
}

/* estado ocultar */
.btn-rec.hide {
  background: linear-gradient(135deg, #ef4444, #dc2626);
  box-shadow: 0 4px 12px rgba(239, 68, 68, 0.3);
}

/* hover */
.btn-rec:hover {
  transform: translateY(-2px) scale(1.03);
}

/* click (efecto iOS) */
.btn-rec:active {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
