.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(117, 11, 133, 0.788);
  
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 12px;
   color: white;
 
  
}

.modal input {
  width: 20%;
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px;
  border: solid 1px #64748b;
  color: whitesmoke;
  font-size: larger;
  text-align: center;
  background-color:transparent;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  margin: 15px;
}

.modal button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #0b85aa;
  color: white;
}

.modal .cancel {
  background: #dc2626;
  color: white;
}